<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}article.css">
    <title>Django Public Blog - создать статью</title>
</head>
<body class="addform">
    <div class="header">
        <img src="{{ MEDIA_URL }}logo.png">
    </div>
    <div class="content">
        <h1>Написать статью</h1>
        <form method="POST">{% csrf_token %}
            <p><input type="text" name="title" placeholder="Название статьи" value="{{ form.title }}"></p>
            <p><textarea name="text" placeholder="Текст статьи">{{ form.text }}</textarea></p>
            <p><input class="button" type="submit" value="Сохранить"></p>
        </form>
        {{ form.errors }}
    </div>
</body>
</html>