<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}article.css">
    <title>Django Public Blog - Log in</title>
</head>
<body>
    <div class="header">
        <img src="{{ MEDIA_URL }}logo.png">
    </div>
    <div class="userform">
        <h1>Log in</h1>
        <form method="POST">{% csrf_token %}
            <p><input type="text" name="login" placeholder="Your login" value="{{ form.login }}"></p>
            <p><input type="text" name="password" placeholder="Your password" value="{{ form.password }}"></p>
            <p><input class="button" type="submit" value="Log in!"></p>
        </form>
        {{ form.errors }}
    </div>
</body>
</html>